
@import "../../styles/settings/settings.colors";
@import "../../styles/settings/settings.editor";

.Editor
{
}

.body
{
  display: flex;
}

.column
{
  width:        $editor____defaultWidth;
  padding:      20px;
  border-right: 1px solid $color____lightShade;
}
