@import "../../styles/settings/settings.margins";
@import "../../styles/tools/tools.card";
@import "../../styles/tools/tools.typography";

.EditorCard {
  @include card;
  padding: $margin____smallMedium;
}

.title {
  font-weight: 700;
}

.description {
  margin-top: 5px;

  .noDescription &
  {
    display: none;
  }

}