@import "../../styles/settings/settings.margins";
@import "../../styles/tools/tools.buttons";

.EditorColumn
{
}

.cards
{
  margin-bottom: $margin____medium;

  .noCards &
  {
    display: none;
  }

}

.card
{
  margin-top: $margin____medium;

  &:first-of-type
  {
    margin-top: 0;
  }

}

.newCard
{
  margin-bottom: $margin____medium;
}

.addButton
{
  @include buttonCard;
}
