*
{
  box-sizing: border-box;
}

body
{
  @include typography____defaultFontFamily;
  background-color: #ebf0f5;
  color:     $typography____defaultFontColor;
  font-size: $typography____defaultFontSize;
}